<form id="memberFrm" class="mb-4" onsubmit="return false;">
    <input type="hidden" name="memberUid" id="memberUid" th:value="${uid}" >
    <div class="form-group">
        <label class="form-label">관리자아이디 *</label>
        <input type="text" class="form-control" v-if="member.memberUid === 0" placeholder="최대 20자 미만"  id="memberId" name="memberId"  v-model="member.memberId" v-alphabet-numeric maxlength="20"/>
        <span v-if="member.memberUid !== 0" class="span-form-control">{{member.memberId}}</span>
    </div>
    <div class="form-group">
        <label class="form-label">비밀번호 *</label>
        <input type="password" class="form-control" placeholder="영문+숫자 조합 최소 8자 최대 15자" id="memberPasswd" name="memberPasswd" v-model="member.memberPasswd" v-alphabet-numeric-special maxlength="20">
    </div>
    <div class="form-group">
        <label class="form-label">비밀번호 확인 *</label>
        <input type="password" class="form-control" placeholder="비밀번호를 한번 더 입력해주세요" id="memberPasswdConfirm" name="memberPasswdConfirm"  v-model="member.memberPasswdConfirm" alphabet-numeric-special maxlength="20">
    </div>
    <div class="form-group">
        <label class="form-label">이메일 *</label>
        <input type="email" class="form-control" placeholder="이메일을 입력해주세요" id="email" name="email"  v-model="member.email" minlength="5" maxlength="50">
    </div>
    <div class="form-group">
        <label class="form-label">이름 *</label>
        <input type="name" class="form-control" placeholder="이름을 입력해주세요" id="memberName" name="memberName" v-model="member.memberName" minlength="2" maxlength="10">
    </div>
    <div class="form-group">
        <label class="form-label">휴대폰 *</label>
        <input type="tel" class="form-control" placeholder="'-' 없이 숫자만 입력" id="cellphone" name="cellphone" v-numeric  v-model="member.cellphone" minlength="10" maxlength="12">
    </div>
    <div class="form-group">
        <label class="form-label">메뉴권한 *</label>
        <select class="form-control" name="authorityUid" id="authorityUid" v-model="member.authorityUid">
            <option v-for="(authority, index) in authorityList" :value="authority.authorityUid">{{authority.authorityCodeName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-label">접속권한 *</label>
        <div class="div-form-control">
            <span class="radio-box">
                <input type="radio"class="form-check-input" name="auth" id="auth-active" v-model="member.useYn" value="Y">
                <label for="auth-active">사용</label>
              </span>
            <span class="radio-box">
                <input type="radio" class="form-check-input" name="auth" id="auth-inactive" v-model="member.useYn" value="N">
                <label for="auth-inactive">중지</label>
            </span>
        </div>
    </div>
    <div v-if="member.memberUid > 0" class="form-group">
        <label class="form-label">등록일시</label>
        <span class="span-form-control">{{member.createdAt | formatDateTime}}</span>
    </div>
    <div v-if="member.withdrewAt" class="form-group">
        <label class="form-label">삭제일시</label>
        <div class="div-form-control">
          <span>
              {{member.withdrewAt | formatDateTime}}
          </span>
            <button class="btn btn-danger" @click="btnRestore">
                관리자복원
            </button>
        </div>
    </div>
    <hr class="mt-5 mb-5">
    <div class="row g-2">
        <div class="col-6">
            <button type="button" class="w-100 btn btn-primary" @click="btnSave">{{member.memberUid > 0 ? '수정완료':'등록완료'}}</button>
        </div>
        <div class="col-6">
            <button type="button" class="w-100 btn btn btn-secondary" @click="btnList">취소</button>
        </div>
    </div>
</form>
